<div [formGroup]="form" class="course-details-form">

    <!-- Course Title -->
    <mat-form-field floatLabel="always">

        <input
            matInput
            placeholder="Course title"
            formControlName="title"
            #title
        >

        <!-- Input Hint -->
        <mat-hint align="end">
            {{ title.value.length }} / 60
        </mat-hint>

        <!-- Error Message: Min Length -->
        <mat-error *ngIf="this.form.controls['title'].errors?.minlength">
            A minimum length of 5 characters is required.
        </mat-error>

    </mat-form-field>

    <!-- Course Type -->
    <mat-radio-group class="course-type" formControlName="courseType">

        <!-- Free -->
        <mat-radio-button value="free">
            Free
        </mat-radio-button>

        <!-- Premium -->
        <mat-radio-button value="premium">
            Premium
        </mat-radio-button>

        <!-- Super Premium -->
        <mat-radio-button [disabled]="true" value="super-premium">
            Super Premium
        </mat-radio-button>

    </mat-radio-group>

    <!-- Category -->
    <mat-form-field>

        <mat-select formControlName="category" placeholder="Select category">

            <!-- None -->
            <mat-option>
                None
            </mat-option>

            <!-- Beginner -->
            <mat-optgroup label="Beginners">
                <mat-option value="newprogramming">New To Programming</mat-option>
                <mat-option value="newjavascript">New To Javascript</mat-option>
                <mat-option value="newangular">New To Angular</mat-option>
            </mat-optgroup>

            <!-- Intermediate -->
            <mat-option value="INTERMEDIATE">
                Intermediate
            </mat-option>

            <!-- Advanced -->
            <mat-option value="ADVANCED">
                Advanced
            </mat-option>

        </mat-select>

    </mat-form-field>

    <!-- Release Date -->
    <mat-form-field>
        <input
            matInput
            formControlName="releasedAt"
            placeholder="Release date"
            [matDatepicker]="releasedAtPicker"
        >

        <!-- Toggle Date Picker -->
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
        </mat-datepicker-toggle>

        <!-- Date Picker -->
        <mat-datepicker #releasedAtPicker [dateClass]="dateClass">
        </mat-datepicker>
    </mat-form-field>

    <!-- Allow Downloads -->
    <mat-checkbox color="primary" formControlName="downloadsAllowed" [indeterminate]="true">
        Downloads allowed?
    </mat-checkbox>

    <!-- Course Description -->
    <mat-form-field>

        <textarea
            matInput
            placeholder="Description"
            formControlName="longDescription"
            rows="4"
        ></textarea>

    </mat-form-field>

</div>
