<div class="courses-panel">

    <div class="header">

        <h2 class="title">All Courses</h2>

        <button mat-mini-fab routerLink="/add-new-course">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>

    </div>

    <!-- Tab Group -->
    <mat-tab-group>

        <!-- Beginners Tab -->
        <mat-tab label="Beginners">

            <!-- Beginner Courses -->
            <courses-card-list [courses]="beginnerCourses$ | async">

            </courses-card-list>

        </mat-tab>

        <!-- Advanced Tab -->
        <mat-tab label="Advanced">

            <!-- Advanced Courses -->
            <courses-card-list [courses]="advancedCourses$ | async">

            </courses-card-list>

        </mat-tab>

    </mat-tab-group>

</div>
